.git
.gradle
.idea
out/
server/build/
agents/java/build/
agents/go/dist/
agents/go/workspaces/
frontend/node_modules/
frontend/dist/
**/tmp/
postgres-data/
logs/
*.log

# Never ignore build package inside java src
!**/src/**
